data/wechat_db/EnMicroMsg.db
*.pkl
*.npy
*.bak1
*.bak2
*.bak3
*.bak4
*.bak5
seq2seq/word/__pycache__/
seq2seq/word/model_word/
gui/__pycache__/
soliloquize/__pycache__/
__pycache__/
KG/data.txt
seq2seq/phrase/model_phrase/
*.h5
seq2seq/train/logs/train/
recorder/packages/
recorder/bin/
seq2seq/.idea/workspace.xml
seq2seq/model.png
*.model
seq2seq/embed/w2v/corpusSegDone_1.txt
*.vector
seq2seq/embed/w2v/news_sohusite_xml.dat
seq2seq/embed/w2v/corpus_1.txt
